<%-include("header");-%>
<h1 id="heading">this is the about page.</h1>

<p>kkdiaoajvaovjaovjav
    kakldfakoakvaka
    nkvafvoakafkvflkndklkfmmflfkepbkavd
    mdaaa,;akfvfkvvvffvfmdflmlvmddvmakadvndfklmdlvmdlm
</p>
<%-include("footer");-%>